


/* shared styles */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Header related styles */
header{
    max-width: 1440px;
    margin: 0 auto;
}
main{
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}




/* navbar related styles */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.navbar-content{
    display: flex;
    gap: 11px;
}
.nav-img{
    width: 62px;
    height: 62px;
    margin-top: 20px;
}
.kids-title{
    font-size: 2rem;
    font-weight: 700;
}
.nav-container{
    display: flex;
    gap: 20px;
}
.nav-item{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 400;
}
.nav-links{
    text-decoration: none;
}
#nav-green{
     color: #FEA301;
     font-weight: 700;
}
#nav-red{
    color: #01ACFD;
}
#nav-hollow{
    color: #05D4DF;
}
#nav-hunt{
    color: #5D58EF;
}
.navbar-btn{
    padding: 10px 50px;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600px;
    color: #FFFFFF;
}
.Classic{
    display: none;
}

/* Banner related styles */
.banner{
    display: flex;
    gap: 50px;
}
.banner-content{
    margin-top: 122px;
    margin-bottom: 122px;
    margin-left: 120px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    color: #111111;
}
.yellow{
    color: #FEA301;
}
.blue{
    color: #01ACFD;
}
.banner-description{
    font-size: 1.25rem;
    font-weight: 400;
    color: #111111;
    margin-top: -24px;
    margin-bottom: 24px;
}
.banner-btn{
    padding: 10px 47px;
    background-color: #111111;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
}
.banner-img{
    width: 70%;
    margin-right: 100px;
    margin-bottom: 90px;
}
/* standard curriculum related styles */
.standard-title{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700px;
    color: #000000;
}
.standard-container{
    display: flex;
    gap: 35px;
    justify-content: center;
    
}
.card-1{
    background: linear-gradient(to top, #FFFFFF 60%, #DEF5FF);
    box-shadow: 3px 3px 3px 3px #DEF5FF;
    border-radius: 19px;
    width: 250px;
    padding: 53px 65px;
    text-align: center;
}
.card-2{
       background: linear-gradient(to top, #FFFFFF 80%,#FFF4DC);
       box-shadow: 3px 3px 3px 3px #FFF4DC;
       border-radius: 19px;
       width: 250px;
       padding: 53px 65px;
       text-align: center;
}
.card-3{
    background: linear-gradient(to top, #FFFFFF 60%,#EEE1FF);
       box-shadow: 3px 3px 3px 3px #EEE1FF;
       border-radius: 19px;
       width: 250px;
       padding: 53px 65px;
       text-align: center;
}
.kinder-read{
    color: #64C8FF;
    font-size: 1rem;
    font-weight: 700;
}
.Elementary-read{
    color: #F0AA00;
    font-size: 1rem;
    font-weight: 700;
}
.Middle-read{
     color: #8700FF;
    font-size: 1rem;
    font-weight: 700;
}
.Middle-description{
    color: #808080 ;
}
.Elementary-description{
    color: #808080 ;
}
.kinder-description{
    color: #808080;
}
.kinder-heading{
    color: #202020;
    font-size: 1.5rem;
    font-weight: 700px;
}
.Elementary-heading{
    color: #202020;
    font-size: 1.5rem;
    font-weight: 700px;
}
.Middle-heading{
    color: #202020;
    font-size: 1.5rem;
    font-weight: 700px;
}

/* Responsive media query for mobile device */
@media screen and (max-width:576px) {
   .mobilehidden{
    display: none;
   }
   .Classic{
    display: block;
    margin-top: 10px;
   }
   .nav-img{
    width: 46px;
    height: 46px;
    /* margin: 0 auto; */
    margin: 0;
    padding-bottom: 4px;
   }
   .navbar{
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid #FEA301;
    width: 100%;
   }
   .banner{
    flex-direction: column-reverse;
    
   }
   .banner-content{
    text-align: center;
    margin-top: -70px;
    margin-right: 16px;
    margin-left: 17px;
   }
   .banner-title{
    font-size: 2rem;
    font-weight: 700;
   }
   .banner-description{
    margin-top: 24px;
   }
   .banner-img{
    width: 96%;
    margin: 20px 10px;
   }
   .standard{
    margin-top: -100px;
   }
   .standard-container{
    max-width: 356px;
    display: grid;
    grid-template-columns: repeat(1fr);
    margin-left: 20px;
   }
   .card-1{
    width: 200px;
   }
   .card-2{
    width: 200px;
   }
   .card-3{
    width: 200px;
   }
   
   
}